# Ambientes virtuais
.venv/
venv/

# Arquivos gerados pelo Python
__pycache__/
*.py[cod]

# Resultados de testes
.pytest_cache/
.coverage
htmlcov/

# VS Code e outras IDEs
.vscode/
.idea/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.log
*.tmp